* {
	box-sizing: border-box;
}

page {
	height: 100%;
	background: $uni-bg-color;
}

button {
	border-radius: 4rpx;

	&:after {
		border-radius: 4rpx;
	}
}

uni-button:after {
	border-radius: 4rpx;
}
